# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/run-data/
/src/main/resources/assets/prpgdrops/textures/entity/chest/copper/
/src/main/resources/assets/prpgdrops/textures/entity/chest/diamond/
/src/main/resources/assets/prpgdrops/textures/entity/chest/gold/
/src/main/resources/assets/prpgdrops/textures/entity/chest/iron/
/src/main/resources/assets/prpgdrops/textures/entity/chest/netherite/
